body {
	background-color: #444444;
	color: #fff;
}

ul.buttonList li {
	list-style-type: none;
	margin-bottom: 10px;
}

#canvas {
	background-color: #fff;
	display: inline;
	float: left;
	margin-right: 20px;
}

#buttons {
	display: inline;
}

.color {
	border: 0px;
	border-radius: 10px;
}

.color:hover {
	border: 2px solid #000;
}

.stroke {
	border: 0px;
	border-radius: 10px;
	background: #000;
}

.stroke:hover {
	border: 2px solid #fff;
}

.color.black {
	background: #000;
}

.color.white{
	background: #fff;
}

.color.pink {
	background: #F824FF;
}

.color.red {
	background: #AB0400;
}

.color.blue {
	background: #00016D;
}

.color.yellow {
	background: #FFF743;
}

.color.green {
	background: #1E8900;
}

.stroke.small {
	width: 10px;
	height: 10px;
}

.stroke.medium {
	width: 15px;
	height: 15px;
}

.stroke.big {
	width: 20px;
	height: 20px;
}